.DS_Store
Thumbs.db

backend/.venv/
backend/venv/
backend/__pycache__/
backend/**/*.pyc

frontend/node_modules/W
frontend/dist/

places-autocomplete-playground/node_modules/
places-autocomplete-playground/dist/
places-autocomplete-playground

.env
.env.local
.vercel/
