@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-on-surface antialiased;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.glass-panel {
  background: rgba(241, 247, 253, 0.7);
  backdrop-filter: blur(20px);
}

.orange-gradient-cta {
  background: linear-gradient(135deg, #b22200 0%, #ff785a 100%);
}

.btn-gradient {
  background: linear-gradient(135deg, #b22200 0%, #ff785a 100%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
